html{
    background-color: lightblue;
    font-family: 'Quicksand', sans-serif, Georgia, Serif;
}

.doggo_intro{
    display: flex;
    flex: 1;
    max-height: 20vh;
    max-width: 10vw;
    border: black 1px solid;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 5vh;
}

#d_one{
    margin-right: 10vh;
}

#d_two{
    margin-left: 10vh;
}

#intro{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
}


#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

#projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.name_and_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80vh;
    max-width: 25vw;
    padding: 0 3vw;
}

.nat_size{
    height: 100%;
    width: 100%;
}

#outro{
    display: flex;
    flex-direction: row;
}

#doggo_three{
    max-height: 30vh;
    max-width: 18vw;
    border: black 1px solid;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 5vh;
}
